/*nav bar edit start */
nav ul> li{
    list-style: none;

}
nav ul li> a{
    text-decoration: none;
    color: black;
    padding: 10px 45px;
    margin: 0px;
 
}
nav > Ul{
    display: flex;
    margin: 0px;
    border: 4px rgba(0, 0, 0, 0.521) solid; 
    border-radius: 20%;
    padding: 10px 20px;
    border-left: 0px;
    border-right: 0px;
}
a:hover {
    background-color: rgba(29, 29, 29, 0.76);
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin: 0px;
  }
/*nav bar edit end */

/*background image edit start */
.BGimage{
    background-image: url(image/BG\ image\ 01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/*background image edit end */

/*header font edit start */

#headfont{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
/*header font edit end */


.banglafont{
    font-family: 'AdorshoLipi', sans-serif;
}